body {
  font-family: Helvetica, Sans, Arial;
  font-size: 19px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d7f4f7;
}
* {
  box-sizing: border-box;
}

.full-width {
   width: 700px;
}

pre.problem {
    font-family: monospace;
    text-align: left;
    font-size: 15px;
    background-color: #fcfff2;
}
