* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Sans, Arial;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d7f4f7;
  width: 750px;
}
pre.problem {
    font-family: monospace;
    text-align: left;
    font-size: 13px;
    background-color: #fcfff2;
    overflow: scroll;
}

@media (max-width: 755px) {
  body {
     width: 97vw;
  }

  pre.problem {
    font-size: 10px;
 }
}


