* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Sans, Arial;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d9f6f9;
  width: 750px;
}
pre.problem {
    font-family: monospace;
    text-align: left;
    font-size: 13px;
    background-color: #fcfff2;
    overflow: scroll;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 755px) {
  body {
     width: 97vw;
  }

  pre.problem {
    font-size: 10px;
 }
}

.problems {
    border-collapse: collapse;
}

.problems td {
    border: 1px solid gray;
}

.problem-page-link {
    text-align: center;
}

.solved-col {
    text-align: center;
}

.tags-col {
    padding: 2px;
}

.problem-tag {
    border-radius: 2.5px;
    padding: 2px;
}

.algebra {
    background-color: #fcd0c7;
}

.geometry {
    background-color: #d1f5bf;
}

.combinatorics {
    background-color: #c7e3fc;
}

.number-theory {
    background-color: #cccccc;
}

.inequality {
    background-color: #f5e6c4;
}
